# html をphp で処理する
AddType application/x-httpd-php .php .html

Options -Indexes
# キャッシュの有効期限
ExpiresActive On
## キャッシュさせない
ExpiresDefault "access plus 1 second"
# b.は短縮版なのでリダイレクト
RewriteEngine On
RewriteCond %{HTTP_HOST}                                    ^b.y-misc\.org$

RewriteRule (.*)                                            http://buttobi.y-misc.org/$1 [R=permanent,L]